<% content_for :head do %>
<%= stylesheet_link_tag "announcements" %>
<% end %>

<div id="sidebar">

	<a href="/">
		<%= image_tag "AthenaLogo.png", :class => "athena_logo" %>
	</a>

	<div id="enroll">
		<button type="button" class="btn btn-lg btn-default">ENROLL</button>
	</div>

	<div class="class_tab">
		<div class="class_name">MATH 42</div>
		<div class="color_strip"></div>
	</div>
</div>

<div id="content">

<div class="col-md-3"></div>

<div class="col-md-6">
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis qui aliquid nihil nisi magni placeat iusto nulla ab, voluptas numquam, quas ad natus rerum minus atque, tempora accusamus modi. Vitae. lorem*20

<button type="button" class="btn btn-lg btn-default">Default</button>
</div>

<div class="col-md-3"></div>
 </div>
